
.prueba{
    background-color: white;
}

.brand-img{
    max-width: 50px;
}

.nav-wrapper{
    background-color: #48CAE4;
}

.page-footer{
    background-color: #48CAE4;
}

.ir-arriba {
	display: none;
	padding: 1px;
	background: #72efdc02;
	font-size: 20px;
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.ir-arriba-icono {
    width: 50px;
    right: 50px;
}


/* Carrousel Principal */
.slider .indicators .indicator-item {
    background-color: #666666;
    border: 3px solid #ffffff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .slider .indicators .indicator-item.active {
    background-color: #ffffff;
  }
  
  .slider .indicators {
    bottom: 60px;
    z-index: 100;
    /* text-align: left; */
  }